html {
    font-family:serif;
}

p {
    font-weight: bold;
    text-transform: uppercase;
    font-style: italic;
    text-indent: 50pt;
}

#intro {
    letter-spacing: 10pt;
}

h1 {
    text-shadow: 5px 5px blueviolet;
}

a {
    text-decoration: none;
}

#correction {
    text-decoration:none;
}